[Unit]
Description=Holen on-demand wake proxy
After=docker.service

[Service]
Type=simple
WorkingDirectory=/home/yvm/holen/HOLEN
ExecStart=/usr/bin/python3 -B -u /home/yvm/holen/HOLEN/prod/holen-on-demand.py
TimeoutStopSec=75
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
